* {
    font-family: 'Lato', sans-serif;;
}

h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
    font-family: 'Electrolize', sans-serif;   
}

:root {
    --main-color: rgb(6, 57, 108);
}

.border-custom{
    border: 20px solid red;

}

.bg-main {
    background-color: var(--main-color) !important;
}

/* Navbar */

#top {
    height: 600px;
    background: linear-gradient(rgba(6, 57, 108, 0.7), rgba(6, 57, 108, 0.5)), url("media/header.jpg");
    background-size: cover;
    position: relative;
}

#top2 {
    height: 600px;
}

.before::before {
    content: '';
    border: 1px solid white;
    position: relative;
    right: 10px;
}

@media screen and(max-width: 600px){
    .before::before {
        border: var(--main-color);
    }
}


/* Header */

.positioned{
    position: relative;
    left: -20px;
    bottom: -10px;
}

/* POWER LOREM SECTION */

#power {
    background: linear-gradient(rgba(6, 57, 108, 0.7), rgba(6, 57, 108, 0.5)), url("./media/power-plant-4712830_1280.jpg");
    background-size: contain;
}


.blanco {
    color: white;
}



/* NEGATIVE POSITIONED  SECTION */

.bg-color{
    background-color: var(--main-color);
}

#sliding {
    position: relative;
    bottom: 15px;
    right: -30px;
    border: 2px solid white;
    
}

@media screen and (max-width: 1000px){
    #sliding {
        position: static !important;
        margin-top: 15px;
        border: none;
    }
}

#zIndex {
    z-index: 99;
    background-color: white;
   
}

/*  ADIPISICINC SECTION */

#usamap {
    position: relative;
    bottom: -150px;
}



@media screen and (max-width: 600px) {
    #usamap {
        position: static;
    }  
}

/* SQUARES SECTION  */
.mt-custom{
    margin-top: 200px;
}

@media screen and (max-width: 600px) {
    .mtCol-custom{
        margin-top: 50px;
    }
}

.ombra {
    height: 150px;
    width: 350px;
    background: linear-gradient(90deg, rgba(6, 57, 108, 0.4), rgb(255, 255, 255));    
}

.square1{
    height: 150px;
    width: 350px;
    background-image: url(./media/wind.png);
    background-size: cover;
    position: relative;
    top: 30px;
    left: 30px;
}


.square2 {
    height: 150px;
    width: 350px;
    background-image: url(./media/sun.png);
    background-size: cover;
    position: relative;
    top: 30px;
    left: 30px;
}

.square3 {
    height: 150px;
    width: 350px;
    background-color: var(--main-color);
    position: relative;
    top: 30px;
    left: 30px;
}

.square4 {
    height: 150px;
    width: 350px;
    background-image: url(./media/wave.png);
    background-size: cover;
    position: relative;
    top: 30px;
    left: 30px;
}

.esploraSquare::after{
    content: "\2192";
    position: relative;
    left: 10px;
}

.mt-special{
    margin-top: 170px;
}

 @media screen and (max-width: 600px) {
    .mt-special{
        margin-top: 10px;
    }   
} 

/*  SOME STUFF SECTION */

#bg-h2{
    height: 300px;
    background: var(--main-color);
}

#h2StuffPosition{
    height: 300px;
}

#stuffPosition{
    position: relative;
    top: -50px;
}

@media screen and (max-width: 600px){
    #stuffPosition{
        position: static;
        margin-top: 2px; 
    }
}


.esploraPosition::after{
    content: "\2192";
    position: relative;
    left: 5px;
}

#sun{
    background: linear-gradient(rgba(6, 57, 108, 0.7), rgba(6, 57, 108, 0.5)), url("./media/sun.png");
    background-position: center;
    background-size: cover;
}

#wind{
    background: linear-gradient(rgba(6, 57, 108, 0.7), rgba(6, 57, 108, 0.5)), url("./media/wind.png");
    background-position: center;
    background-size: cover;
}

#Wave{
    background: linear-gradient(rgba(6, 57, 108, 0.7), rgba(6, 57, 108, 0.5)), url("./media/wave.png");
    background-position: center;
    background-size: cover;
}

#gas{
    background: linear-gradient(rgba(6, 57, 108, 0.7), rgba(6, 57, 108, 0.5)), url("./media/gas.png");
    background-position: center;
    background-size: cover;
}

#oil{
    background: linear-gradient(rgba(6, 57, 108, 0.7), rgba(6, 57, 108, 0.5)), url("./media/oil.png");
    background-position: center;
    background-size: cover;
}

#atom{
    background: linear-gradient(rgba(6, 57, 108, 0.7), rgba(6, 57, 108, 0.5)), url("./media/nuclear.png");
    background-position: center;
    background-size: cover;
}

@media screen and (max-width: 600px) {
    .mtCol2-custom{
        margin-top: 25px;
    }
}
/*  DOWNLOAD SECTION */

.borderDownload{
    box-shadow: 0px 2px 2px gray;
}

@media screen and (max-width: 600px){
    .marginTop{
        margin-top: 20px;
    }
}

/* DESCRIPTION SECTION */
p.keyFrame{
        width: 100%;
        animation-name: progress;
        animation-duration: 2s;
        animation-iteration-count: 3;
        animation-delay: 3s;
        
}
@keyframes progress{
    0% {width: 0px;}
    100% {width: 75%;}
}


/* FOOTER */
footer {
    margin-top: 100px !important;
}

.foot {
    position: relative;
    bottom: 25px;
}

#animation1{
    height: 8px;
    width: 200px;
    background-color: black;
    position: relative;
    top: -20px;
}

#animation2{
    height: 8px;
    width: 300px;
    background-color: black;
    position: relative;
    top: -20px;
}

#animation3{
    height: 8px;
    width: 400px;
    background-color: black;
    position: relative;
    top: -20px;
}